:root {
    --bg-dark: rgb(46, 46, 46);
    --bg-light: rgb(92, 92, 92);

    --text-white: white;
    --text-grey: rgb(197, 197, 197);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-white);
}

.game-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.dialogue-overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .dialogues-container {
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        // height: 34vh;
        flex: 1;
        padding: 2em;
        cursor: pointer;
        overflow: auto;

        .dialogue-box {
            margin: 1em auto;
            width: 44em;
            max-width: 100%;
        }
    }
    
    .dialogue-options-container {
        flex: 1;
        padding: 3em 6em;
        font-size: 1.5rem;
        border-top: 1px solid var(--bg-light);

        display: none; // On doit utiliser display et non visibilité, sans quoi l'élément ne sort pas de la mise en page
        &.active {
            display: flex;
        }

        .dialogue-options-flexbox {
            display: flex;
            justify-content: space-evenly;

            .dialogue-option-box {
                border: 1px solid var(--bg-light);
                border-radius: 5px;
                padding: 1em;
                margin: 1em;
                max-width: 18em;
                cursor: pointer;

                flex-basis: 0;
                flex-grow: 1;

                &:not(.disabled):hover {
                    background-color: var(--bg-light);
                }

                &.disabled {
                    // Pas sûr de le conserver
                    cursor: not-allowed;
                    border-style: dashed;
                    opacity: 0.6;
                }

                &.selected {
                    // Le joueur a cliqué sur cette option, mais il n'a pas encore sélectionné les cartes requises
                    border-width: 3px;
                    border-color: yellow;
                }
                &.matchable {
                    // Cette option peut matcher avec les cartes que le joueur a sélectionnées, mais il n'a pas encore cliqué dessus
                    border-width: 3px;
                    border-color: rgba(62, 249, 255, 0.5);
                }
                &.match {
                    // Le joueur a sélectionné cette option qui match avec ses cartes 
                    border-width: 3px;
                    border-color: rgb(62, 249, 255);
                }
            }

        }

        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .deck-container {
        flex: 1;
        // height: 33vh;
        display: none;
        border-top: 1px solid var(--bg-light);
        
        &.active {
            display: flex;
        }

        .hand-container {
            display: flex;
            justify-content: center;
            gap: 2em;
            padding: 2em;
            width: 100%;
        }

    }
}

.new-cards-overlay {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    &.active {
        visibility: visible;
        opacity: 1;
        transition-delay: 0ms;
    }
    transition: opacity 250ms ease-in, visibility 0ms ease-in 250ms;

    padding: 0 10vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .new-cards-container {
        background-color: var(--bg-dark);
        border: 1px solid var(--bg-light);
        border-radius: 3vw;
        overflow: hidden;

        h2 {
            text-align: center;
        }

        .new-cards-flexbox {
            display: flex;
            justify-content: center;
            gap: 2em;
            padding: 2em;
            overflow-x: auto;
            /* Bug : s'il y a trop de cartes et qu'elles overflow, une carte à gauche est cachée */
        }
    }
}

/* Carte de pensée */
.card {
    width: 200px;
    height: 200px;
    padding: 1em;
    background-color: var(--bg-light);
    border-radius: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: default;

    flex-shrink: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .name {
        font-size: 1.12rem;
    }
    .moods {
        font-size: 0.9rem;
        color: var(--text-grey);
        font-style: italic;
    }
    .score {
        font-size: 1.88rem;
    }

    &.selected {
        // Le joueur a cliqué sur cette carte, mais il n'a pas encore sélectionné d'option
        border-width: 3px;
        border-color: yellow;
    }
    &.matchable {
        // Cette carte peut matcher avec l'option qu'il a sélectionné, mais il n'a pas encore cliqué dessus
        border-width: 3px;
        border-color: rgba(62, 249, 255, 0.5);
    }
    &.match {
        // Le joueur a sélectionné cette carte qui match avec l'option sélectionnée
        border-width: 3px;
        border-color: rgb(62, 249, 255);
    }
    &.nomatch {
        // Le joueur a sélectionné cette carte qui ne match pas ou est superflue avec l'option sélectionnée
        border-width: 3px;
        border-color: darkred;
    }
}