* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 46, 46);
    color: white;
}

.dialogues-container {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    width: 100%;
    height: 100vh;
    padding: 2em;
    cursor: pointer;

    .dialogue-box {
        margin: 1em auto;
        width: 44em;
        max-width: 100%;
    }
}